*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
}

.main-container{
    height: 100dvh;
}

header{
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
    padding: 10px 8px;
    box-shadow: 0 2px 4px gray;
}

input{
    margin: 0 auto;
    height: 45px;
    width: 45%;
    border: 2px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px gray;
}

select{
    font-size: 1rem;
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 4px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 2px gray;
}

button{
    grid-column: 1 / span 2;
    margin-top: 15px;
    padding: 10px 0;
    font-size: 1.25rem;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px gray;
    cursor: pointer;
}

.color-display{
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
}

.colorElm{
    grid-row: 1fr;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}

.colorBack{
    width: 70%;
}

.colorHex{
    margin: auto;
}

@media screen and (min-width: 960px) {
    
}