*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100dvh;
}

header{
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
    padding: 10px 8px;
}

input{
    margin: 0 auto;
    height: 45px;
    width: 45%;
}

select{
    font-size: 0.8rem;
    text-align: center;
    border-radius: 4px;
}

button{
    grid-column: 1 / span 2;
    margin-top: 15px;
    padding: 10px 0;
    font-size: 1rem;
    border: 2px solid darkgray;
    border-radius: 4px;
}

.color-display{
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
}

.colorElm{
    grid-row: 1fr;
    display: flex;
    border-bottom: 1px solid whitesmoke;
}

.colorBack{
    width: 70%;
}

.colorHex{
    margin: auto;
}