*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
}

.circleBack{
    height: 100vh;
    width: 100vw;
}

.main-container{
    height: 100dvh;
}

header{
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
    padding: 10px 8px;
    box-shadow: 0 2px 4px gray;
}

input{
    margin: 0 auto;
    height: 45px;
    width: 45%;
    border: 2px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px rgba(56, 55, 55, 0.856);
}

select{
    font-size: 1rem;
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 4px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 2px gray;
}

button{
    grid-column: 1 / span 2;
    margin-top: 15px;
    padding: 10px 0;
    font-size: 1.25rem;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px gray;
    cursor: pointer;
}

.color-display{
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
    background-color: whitesmoke;
    
}

.colorElm{
    grid-row: 1fr;
    display: flex;
    cursor: pointer;
}

.colorBack{
    width: 70%;
}

.colorHex{
    margin: auto;
}

.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px 15px;
    background-color: rgba(255, 255, 255, 0.753);
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    z-index: 9999;
  }

@media screen and (min-width: 960px) {

    body,
    .circleBack{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .main-container{
        width: 60%;
        height: 85%;
        margin: auto;
        border: 4px solid whitesmoke;
        border-radius: 15px;
        box-shadow: 10px 15px 15px gray;
    }

    header{
        display: flex;
        justify-content: space-around;
        padding: 38px 3px;
        box-shadow: none;
    }
    
    input{
        height: 100%;
        width: 10%;
        margin: auto 0;
    }

    select{
        width: 40%;
        padding: 3px 2px;
        font-size: 1.2rem;
        letter-spacing: 8px;
    }

    button{
        width: 25%;
        margin-top: 0;
        padding: 0 ;
        letter-spacing: 4px;
    }

    .color-display{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
    }

    .colorElm{
        
        flex-direction: column;
    }

    .colorBack{
        width: 100%;
        height: 100%;
    }

}